.bg-image {
    width: 100%;
    height: auto;
}

.home-page-content {
    padding: 0 8rem;
    font-size: 2rem;
    text-align: right;
    position: relative;
    margin-top: -8rem;
}

.home-page-content h1 {
    font-size: 6rem;
}

.bg-sky {
    height: 50rem;
}

.middle-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.plane {
    height: 25rem;
    position: relative;
    margin-top: -10rem;
    margin-left: -30rem;
}

.middle-section h1 {
    font-size: 5rem;
}