.profile-header{
    background: linear-gradient(87.83deg, rgba(0, 255, 25, 0.2) 0%, rgba(155, 62, 199, 0.108) 100%), #D3D5FF;
    height: 11rem;
    margin: 2rem;
    border-radius: 1rem;
}
.profile-image-icon{
    border-radius: 400px;
    height: 13rem;
    width: 13rem;
    margin-left: 4rem;
    margin-top: -7rem;
}
.profile-card{
    margin-left: -18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}