.waterimage {
    height: 2rem;
    width: auto;
}

.water {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10rem 0;
}

.waterimage {
    height: 20rem;
    margin: 0 5rem;
    transition: all .5s;
    cursor: pointer;
}

.water img:hover {
    transform: scale(1.05);
}
@media (max-width:702px) {
    .water1 {
        margin-left: 4rem !important;
        margin-top: -30rem !important;
    }
}
@media (max-width:702px) {
    .water2 {
        margin-top: 20rem !important;
        margin-left: -35rem !important;
    }
}